<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/bootstrap.min.js"></script>
  <title>יומן הטסה</title>
  <script src="/js/socket.io.js"></script>
  <script src="/js/jQuery.min.js"></script>
</head>

<body>
  <div class="container fluid-container">
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid" dir="rtl">
        <a class="navbar-brand " href="#">
          <img onclick="toggleDarkMode()" src="/images/116.png" alt="" width="35" height="35"
            class="d-inline-block align-text-top">
          יומן הטסה
        </a>
        <form style="padding-right: 11em;" action="searchText" method="POST">
          <select name="whereToSearch" id="">
            <option value="from">מאת</option>
            <option value="to">אל</option>
            <option value="body">תוכן</option>
            <option value="state">טיפול</option>
          </select>
          <input name="textToSearch" placeholder="חפש לפי טקסט" type="text">
          <button class="btn btn-dark">חפש</button>
        </form>
        <form action="/search" method="POST" class="d-flex">
          <input name="date" id="dateCalander" max="<%=moment().local().format('YYYY-MM-DD')%>" class="form-control me-2 dateCalendarDarkMode" type="date"
            placeholder="Search" aria-label="Search" value="<%=moment().local().format('YYYY-MM-DD')%>">
          <button class="btn btn-dark" type="submit">חפש</button>
          <button type="button" id="tmplatesBtn" class="btn btn-dark" style="margin-right: 0.1em;"><img class=""src="/images/dropdownArrow.svg" alt="" srcset="" id="dropDownImg"></button>
        </form>
      </div>
    </nav>
    <%if(infos.length < 1 ){%>
        <h1 style="text-align: center; color: white;">לא נמצאו רשומות</h1>
    <%}else{%>       
        <div id="templates" class="templatesDivDarkMode hideTemplates" dir="rtl">
          <button onclick="exportTable()" class="btn btn-dark temp">ייצא ל - excel</button>
        </div>

        <div class="table-wrapper-scroll-y my-custom-scrollbar" style=" min-height: 72vh;">
          <table id="table" class="table table-dark header-fixed table-striped mb-0" style="text-align: center;">
            <thead>
              <tr>
                <th hidden scope="col">צבע</th>
                <th scope="col">סגירת יום</th>
                <th scope="col">טיפול</th>
                <th scope="col">תוכן</th>
                <th scope="col">אל</th>
                <th scope="col">מאת</th>
                <th scope="col">שעה</th>
                <th scope="col">תאריך</th>
                <th hidden scope="col">נוסף על ידי</th>

              </tr>
            </thead>
            <tbody dir="rtl" id="tbodyData" style="min-height: 40em;">
              <% infos=infos.reverse();%>
                <% infos.forEach((info)=>{ %>
                  <tr style="background-color: <%=info.color%>" dir="ltr">

                    <% if(info.color == '#1d8d20'){%>
                      <td hidden>ירוק</td>
                    <%}else if(info.color == '#c4aa16'){%>
                      <td hidden>צהוב</td>
                    <%}else{%>
                      <td hidden>אדום</td>
                    <%}%>

                    <td>
                      <%if(info.dayClosure){%>
                        <%="כן"%>
                      <%}else{%>
                          <%="לא"%>
                      <%}%>
                    </td>
                    <td><%=info.state%></td>
                    <td><%=info.body%></td>
                    <td><%=info.to%></td>
                    <td><%=info.from%></td>
                    <td><%=info.time%></td>
                    <td><%=info.date%></td>
                    <td hidden><%=info.addedBy%></td>
                  </tr>
                  <%});%>
            </tbody>
          </table>
        </div>
        <%}%>
  </div>


  
  <script src="/js/FileSaver.min.js"></script>
  <script src="/js/xlsx.min.js"></script>

  <script>
    var darkMode = true;


    function toggleDarkMode() {
      if (darkMode) {
        $("button").removeClass("btn-dark").addClass("btn-primary");
        $("nav").removeClass("navbar-dark bg-dark").addClass("navbar-light bg-light");
        $("table").removeClass("table-dark");
        $("body").css({ "background-color": "white" });
        $("#dateCalander").removeClass("dateCalendarDarkMode").addClass("dateCalendar");
        $("#dateCalander").removeClass("dateCalendarDarkMode").addClass("dateCalendar");
        $("#templates").removeClass("templatesDivDarkMode").addClass("templatesDiv");
        darkMode = false;
      } else {
        $("button").addClass("btn-dark").removeClass("btn-primary");
        $("nav").addClass("navbar-dark bg-dark").removeClass("navbar-light bg-light");
        $("table").addClass("table-dark");
        $("body").css({ "background-color": "#2b2e31" });
        $("#dateCalander").addClass("dateCalendarDarkMode").removeClass("dateCalendar");
        $("#templates").addClass("templatesDivDarkMode").removeClass("templatesDiv");
        darkMode=true;
      }
    }

    console.log($("tbody").children());

    var turn = 0;
    $("#tmplatesBtn").on("click", () => {
      $("#dropDownImg").toggleClass("rotate");
      if (turn % 2 == 0) {
        $("#templates").addClass("showTemplates").removeClass("hideTemplates");
      } else {
        $("#templates").addClass("hideTemplates").removeClass("showTemplates");
      }
      turn++;
    });

    $(".inputInfo").css("background-color", $("#colorInfo").val());
    $("#colorInfo").change(() => {
      $(".inputInfo").css("background-color", $("#colorInfo").val());
    });


    
    function exportTable(){
      html_table_to_excel('xlsx');
    }

    function html_table_to_excel(type)
    {
        var data = document.getElementById('table');

        var file = XLSX.utils.table_to_book(data, {sheet: "sheet1"});

        XLSX.write(file, { bookType: type, bookSST: true, type: 'base64' });

        XLSX.writeFile(file, 'file.' + type);
    }
  </script>
</body>

</html>