<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/bootstrap.min.js"></script>
  <title> 住</title>
  <script src="/js/socket.io.js"></script>
  <script src="/js/jQuery.min.js"></script>
</head>

<body>
  <div class="container fluid-container">
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid" dir="rtl">
        <a class="navbar-brand " href="#">
          <img onclick="toggleDarkMode()" src="/images/116.png" alt="" width="35" height="35"
            class="d-inline-block align-text-top">
           住
        </a>
      </div>
    </nav>
    <br>
    <% if(temps.length < 1 ){%>
        <div class="input-group mb-3">
            <input maxlength="6" type="text" class="form-control" name="temp[from]" placeholder="砖 砖">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">砖 砖</span>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="temp[from]" placeholder="转">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">转</span>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="temp[to]" placeholder="">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"></span>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="temp[body]" placeholder="转">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">转</span>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="temp[state]" placeholder="驻">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">驻</span>
            </div>
        </div>
        <div class="input-group mb-3" style="direction: rtl;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">住专转 </span>
            </div>
            <select name="temp[dayClosure]" id="">
                <option value="yes"></option>
                <option selected value="no"></option>
            </select>
        </div>
        <div class="input-group mb-3"  style="direction: rtl;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">爪注</span>
            </div>
            <select required tabindex="6" name="temp[color]" id="colorInfo">
                    <option value="#d82e3f"></option>
                    <option value="#c4aa16"></option>
                    <option value="#1d8d20"></option>
            </select>                
        </div>
    <%}else{%>
        <%temps.forEach((temp)=>{ %>
            <div class="input-group mb-3">
                <input value="<%=temp.name%>" maxlength="6" type="text" class="form-control" name="temp[name]" placeholder="砖 砖">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">砖 砖</span>
                </div>
            </div>
            <div class="input-group mb-3">
                <input value="<%=temp.from%>" type="text" class="form-control" name="temp[from]" placeholder="转">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">转</span>
                </div>
            </div>
            <div class="input-group mb-3">
                <input value="<%=temp.to%>" type="text" class="form-control" name="temp[to]" placeholder="">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"></span>
                </div>
            </div>
            <div class="input-group mb-3">
                <input  value="<%=temp.body%>" type="text" class="form-control" name="temp[body]" placeholder="转">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">转</span>
                </div>
            </div>
            <div class="input-group mb-3">
                <input value="<%=temp.state%>" type="text" class="form-control" name="temp[state]" placeholder="驻">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">驻</span>
                </div>
            </div>
            <div class="input-group mb-3" style="direction: rtl;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">住专转 </span>
                </div>
                <select name="temp[dayClosure]" id="">
                    <%if(temp.dayClosure){%>
                        <option selected value="yes"></option>
                        <option value="no"></option>
                    <%}else{%>
                        <option value="yes"></option>
                        <option selected value="no"></option>
                    <%}%>
                </select>
            </div>
            <div class="input-group mb-3"  style="direction: rtl;">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">爪注</span>
                </div>
                <select required tabindex="6" name="temp[color]" id="colorInfo">
                    <%if(temp.color == "#d82e3f"){%>
                        <option selected value="#d82e3f"></option>
                        <option value="#c4aa16"></option>
                        <option value="#1d8d20"></option>
                    <%}else if(temp.color == "#c4aa16"){%>
                        <option value="#d82e3f"></option>
                        <option selected value="#c4aa16"></option>
                        <option value="#1d8d20"></option>
                    <%}else{%>
                        <option value="#d82e3f"></option>
                        <option value="#c4aa16"></option>
                        <option selected value="#1d8d20"></option>
                    <%}%>
                </select>                
            </div>
        <%});%>

    <%}%>
    <div class="center">
        <button class="btn btn-dark">砖专</button>
        <button class="btn btn-dark">住祝</button>
    </div>
  </div>

</body>